In [1]:
import os
import pandas as pd
#import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.ticker import AutoMinorLocator

In [2]:
directory = r"H:\Englishman\2021\Field_Survey_data\published"
name = "EGM"
#watershed = "cokely"
out_directory = r"H:\Englishman\2021\Field_Survey_data\published"

Need to find the file name, in order to slice and dice by phase and elevation

In [3]:
os.chdir(directory)
df = pd.DataFrame()
file_end = "csv"
# function to append all data in a folder
for file in os.listdir(directory):
    if file.endswith(file_end):
        input_csv = pd.read_csv(file)
        display(file)
        #testing for phase
        display(file[4:7])
        #testing for elevation
        display(file[12:-4])

'EGM_P01.csv'

'P01'

''

'EGM_P02.csv'

'P02'

''

'EGM_P03.csv'

'P03'

''

'EGM_P04.csv'

'P04'

''

'EGM_P05.csv'

'P05'

''

In [4]:
def append_files_in_folder(directory,file_end):
    os.chdir(directory)
    df = pd.DataFrame()
    # function to append all data in a folder
    for file in os.listdir(directory):
        if file.endswith(file_end):
            input_csv = pd.read_csv(file)
            #This is specific to file name, will need to adjust
            display(file)
            input_csv["phase"]=file[4:7]
            #input_csv["elev"]=file[12:-4]
            #input_csv["wshed"]=watershed
            df = df.append(input_csv)

    df.columns = df.columns.str.lower()
    print(df.head())
    return df

CAll function to append files to one csv

In [5]:
all = append_files_in_folder(directory, "csv")

'EGM_P01.csv'

'EGM_P02.csv'

'EGM_P03.csv'

'EGM_P04.csv'

'EGM_P05.csv'

   aco_flight_number       plot_datetime  study_area plot_id      plot_type  \
0                  1   3/9/2021 16:36:00  Englishman     S3F  Cardinal 10 m
1                  1  3/10/2021 10:39:00  Englishman     S1A  Cardinal 10 m
2                  1  3/10/2021 12:50:00  Englishman     E1A  Cardinal 10 m
3                  1  3/11/2021 13:51:00  Englishman     N2F  Cardinal 10 m
4                  1  3/11/2021 13:51:00  Englishman     N2F  Cardinal 10 m

  cardinal  distance multi_core  depth   core  ...  canopy_cover  \
0   Centre       NaN        NaN    240    NaN  ...          75.0
1   Centre       NaN         no    365  345.0  ...          60.0
2   Centre       NaN        NaN    415    NaN  ...           NaN
3   Centre       NaN        NaN    320    NaN  ...           NaN
4   Centre       NaN         no    308  290.0  ...           NaN

   canopy_density canopy_height  slope  aspect_type    cover_type  \
0            75.0           5.0   22.0    Southwest  under_canopy
1            50.0           2.0   14.0    Southeast  under_canopy
2             NaN           NaN    8.0    Northwest          open
3             NaN           NaN    7.0    Northwest          open
4             NaN           NaN    7.0    Northwest          open

   elevation.1     swe_189  density_189  phase
0  1376.939941         NaN          NaN    P01
1  1552.520019  122.971821     0.336909    P01
2  1549.069946         NaN          NaN    P01
3  1332.550049         NaN          NaN    P01
4  1332.550049  117.625220     0.381900    P01

[5 rows x 28 columns]

In [6]:
all.to_csv("EGM_all.csv")

In [45]:
display(all)

,objectid,aspect,zone_code,count,area,min,max,range,mean,std,sum,phase,elev,wshed
0,1,N,2,7031,63279.0,-0.673813,25.286791,25.960604,3.720391,2.239078,26158.071362,p01,elev1000_1100,cokely
1,2,NE,3,5552,49968.0,-0.677571,22.977707,23.655278,3.504999,2.010390,19459.756649,p01,elev1000_1100,cokely
2,3,E,4,1141,10269.0,-0.670056,19.894613,20.564669,3.824185,2.384517,4363.394575,p01,elev1000_1100,cokely
3,4,SE,5,406,3654.0,-0.025466,20.728321,20.753787,4.517937,2.993153,1834.282578,p01,elev1000_1100,cokely
4,5,S,6,612,5508.0,-0.576958,18.787037,19.363995,4.714763,1.959834,2885.434717,p01,elev1000_1100,cokely
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,6,SW,7,138,1242.0,-1.015104,20.955223,21.970327,2.353456,3.285668,324.776969,p05,elev1500_1600,cokely
6,7,W,8,1613,14517.0,-1.023245,40.443836,41.467081,5.703675,6.680081,9200.027859,p05,elev1500_1600,cokely
7,8,NW,9,1239,11151.0,-1.021992,24.444525,25.466517,3.450820,4.445457,4275.566105,p05,elev1500_1600,cokely
0,1,NE,3,2,18.0,0.445780,1.079291,0.633512,0.762535,0.316756,1.525071,p05,elev800_900,cokely
0,1,N,2,1,9.0,1.736093,1.736093,0.000000,1.736093,0.000000,1.736093,p05,elev900_1000,cokely

keep only certain columns and export: "aspect", "area", "sum", "phase", "elev", "wshed"

In [46]:
all = all[[ "aspect", "area", "sum", "phase", "elev", "wshed"]]
display(all)
os.chdir(out_directory)
all.to_csv(watershed + ".csv", index=False)

   aspect     area           sum phase           elev   wshed
0       N  63279.0  26158.071362   p01  elev1000_1100  cokely
1      NE  49968.0  19459.756649   p01  elev1000_1100  cokely
2       E  10269.0   4363.394575   p01  elev1000_1100  cokely
3      SE   3654.0   1834.282578   p01  elev1000_1100  cokely
4       S   5508.0   2885.434717   p01  elev1000_1100  cokely
..    ...      ...           ...   ...            ...     ...
5      SW   1242.0    324.776969   p05  elev1500_1600  cokely
6       W  14517.0   9200.027859   p05  elev1500_1600  cokely
7      NW  11151.0   4275.566105   p05  elev1500_1600  cokely
0      NE     18.0      1.525071   p05    elev800_900  cokely
0       N      9.0      1.736093   p05   elev900_1000  cokely

[250 rows x 6 columns]